@using HIVE.Client.Components.Diaolog.CurriculumDialog
@using HIVE.Client.Components.Diaolog.AdviserDialog
@using HIVE.Client.Components.Diaolog.UserDialog

@inject ICurriculumService CurriculumService
@inject IAdviserService AdviserService
@inject IDocumentService DocumentService
@inject IFileService FileService
@inject IDialogService DialogService
@inject IUserService UserService
@inject ISnackbar Snack
@inject NavigationManager NavigationManager
<MudTable @ref="_table"
          ServerData="@(new Func<TableState, Task<TableData<User>>>(ServerReload))"
          Dense="true"
          Bordered="false"
          MultiSelection="true" @bind-SelectedItems="_selectedItems"
          Hover="true">
    <ToolBarContent>
        <MudTextField T="string" ValueChanged="@(OnSearch)"
                      Placeholder="Search" Adornment="Adornment.Start"
                      Variant="Variant.Outlined" Margin="Margin.Dense"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0" />
        @if (!string.IsNullOrWhiteSpace(_searchTerm))
        {
            <MudChip Label="true" Variant="Variant.Text" Color="Color.Info" Size="Size.Large" Class="rounded-0">
                result: @_searchTerm (@_table.GetFilteredItemsCount())
            </MudChip>
        }
        <MudSpacer />
        <MudTooltip Text="Reload" Arrow="true">
            <MudIconButton Icon="@Icons.Material.Rounded.Sync" OnClick="@(() => _table.ReloadServerData())"></MudIconButton>
        </MudTooltip>
        <MudTooltip Text="Add User" Arrow="true">
            <MudIconButton Icon="@Icons.Material.Filled.PersonAdd" Color="Color.Success" OnClick="AddAdmin" />
        </MudTooltip>
        <MudTooltip Text="Delete Admin" Arrow="true">
            <MudIconButton Icon="@Icons.Material.Outlined.PersonRemoveAlt1" Color="Color.Error" OnClick="DeleteCurriculum" />
        </MudTooltip>
        <MudText>
            <MudChip Class="rounded-0" IconColor="Color.Primary" Variant="Variant.Outlined" Label="true">
                Selected Admin :<MudChip Size="Size.Small"> @_selectedItems.Count </MudChip>
            </MudChip>
        </MudText>
    </ToolBarContent>
    <HeaderContent>
        <MudTh> <MudTableSortLabel SortLabel="role" T="User"> Role </MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="lastname" T="User"> Last Name </MudTableSortLabel></MudTh>
        <MudTh><MudTableSortLabel SortLabel="firstname" T="User"> First Name </MudTableSortLabel></MudTh>
        <MudTh> <MudTableSortLabel SortLabel="email" T="User"> Email </MudTableSortLabel></MudTh>
        <MudTh> <MudTableSortLabel SortLabel="datereg" T="User"> Date Register </MudTableSortLabel></MudTh>
        <MudTh> <MudTableSortLabel SortLabel="status" T="User"> Status </MudTableSortLabel></MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
            
            <MudTd DataLabel="Role">
            <MudChip Class="rounded-br-xl" Variant="Variant.Filled" Color="Color.Error">
                    <code>@context.Role</code>
                </MudChip>
            </MudTd>
            <MudTd DataLabel="lastname">@context.LastName</MudTd>
            <MudTd DataLabel="firstname">@context.FirstName</MudTd>
            <MudTd DataLabel="Email">@context.Email</MudTd>
        <MudTd DataLabel="Date registered">@context.DateRegistered!.Value.ToShortDateString()</MudTd>
        <MudTd DataLabel="">
                @if (context.VerifiedAt is null)
            {
                <MudChip Label="true" Color="Color.Warning" Variant="Variant.Text">
                    not verified
                </MudChip>
            }
            else
            {
                <MudChip Label="true" Color="Color.Success" Variant="Variant.Text">
                    verified
                </MudChip>
            }
        </MudTd>
        <MudTh>
            <MudTooltip Text="Add User" Arrow="true">
                <MudIconButton Icon="@Icons.Material.Filled.Edit" Color="Color.Default" OnClick="@(() => EditAdmin(context.Id))" />
            </MudTooltip>
        </MudTh>
    </RowTemplate>
    <NoRecordsContent>
        <MudText>No matching records found</MudText>
    </NoRecordsContent>
    <LoadingContent>
        <MudText>Loading...</MudText>
    </LoadingContent>
    <PagerContent>
        <MudTablePager />
    </PagerContent>
    <ChildRowContent>
        @if (context.ShowDocuments)
        {
            <MudTr>
                <td colspan="10">
                    <MudCard Elevation="0">
                        <MudCardHeader>
                            <CardHeaderAvatar>
                                <MudAvatar Elevation="2" Size="Size.Large" Image="/image/Pup_logo.jpg"></MudAvatar>
                            </CardHeaderAvatar>
                            <CardHeaderContent>
                                <MudText Typo="Typo.body2"> @context.LastName ,@context.FirstName </MudText>
                                <MudChip Label="true" Variant="Variant.Text"> @context.Email</MudChip>
                            </CardHeaderContent>
                            <CardHeaderActions>
                                <MudChip Label="true" IconColor="Color.Error" Variant="Variant.Text" Size="Size.Medium" Icon="@Icons.Material.Rounded.Pages">
                                    Student logs
                                </MudChip>
                                <MudChip Label="true" IconColor="Color.Warning" Size="Size.Medium" Color="Color.Info" Variant="Variant.Filled" Icon="@Icons.Custom.FileFormats.FileExcel">
                                    Generate report
                                </MudChip>
                            </CardHeaderActions>
                        </MudCardHeader>
                        <MudDivider />
                        <MudCardContent>
                           
                        </MudCardContent>
                    </MudCard>
                </td>
            </MudTr>
        }
    </ChildRowContent>

</MudTable>
@code {
   
    string _searchTerm = string.Empty;
    private IEnumerable<User> _users;
    private MudTable<User> _table;
    private List<Document>? _documents;
    private int _totalItems = 0;
    private IEnumerable<User>? _pagedData;
    private HashSet<User> _selectedItems = new();
    private List<string> _errors = new();
    private async Task<TableData<User>> ServerReload(TableState state)
    {
        _users = await UserService.GetUserCount();
        _users = _users.Where(u => u.Role == "Administrator");
        _documents = await DocumentService.GetDocumentsForArchivistAsync();
        await Task.Delay(300);
        _users = _users.Where(user =>
        {
            if (string.IsNullOrWhiteSpace(_searchTerm))
                return true;
            if (user.FirstName.Contains(_searchTerm, StringComparison.OrdinalIgnoreCase))
                return true;
            if (user.LastName.Contains(_searchTerm, StringComparison.OrdinalIgnoreCase))
                return true;
            return user.Email.Contains(_searchTerm, StringComparison.OrdinalIgnoreCase);
        }).ToArray();
        _totalItems = _users.Count();

        _users = state.SortLabel switch
        {
            "lastname" => _users.OrderByDirection(state.SortDirection, o => o.FirstName),
            "firstname" => _users.OrderByDirection(state.SortDirection, o => o.FirstName),
            "email" => _users.OrderByDirection(state.SortDirection, o => o.Email),
            "dateRegister" => _users.OrderByDirection(state.SortDirection, o => o.Role),
            "verifiedAt" => _users.OrderByDirection(state.SortDirection, o => o.VerifiedAt),
            _ => _users
        };

        _pagedData = _users.Skip(state.Page * state.PageSize).Take(state.PageSize).ToArray();
        return new TableData<User>() { TotalItems = _totalItems, Items = _pagedData };
    }

    private void OnSearch(string text)
    {
        _searchTerm = text;
        _table.ReloadServerData();
    }

    private void ShowBtnPress(int nr)
    {
        var user = _users.First(a => a.Id == nr);
        user.ShowDocuments = !user.ShowDocuments;
    }
    private async void EditAdmin(int id )
    {
        var parameter = new DialogParameters
        {
                ["AdminId"] = id,
        };
        var dialog = await DialogService.ShowAsync<AddAdmin>("Edit Admin?", parameter);
        var result = await dialog.Result;
        if (!result.Canceled)
        {
            await _table.ReloadServerData();
        }
        _errors.Clear();
    }

    private async void AddAdmin()
    {
        var dialog = await DialogService.ShowAsync<AddAdmin>("Add Admin?");
        var result = await dialog.Result;
        if (!result.Canceled)
        {
            await _table.ReloadServerData();
        }
        await _table.ReloadServerData();
        _errors.Clear();
    }
    private async void DeleteCurriculum()
    {
        var parameter = new DialogParameters
            {
                ["Users"] = _selectedItems
            };
        var dialog = await DialogService.ShowAsync<DialogDeleteUserAccount>("Delete this Selected Admin?", parameter);
        var result = await dialog.Result;
        if (!result.Canceled)
        {
            await _table.ReloadServerData();
        }
        _errors.Clear();
    }

    private void Reload()
    {
        _table.ReloadServerData();
    }

}
